{% extends "layout.twig" %}

{% block icon %}
        <link rel="icon" type="image/png" href="../../../imagenes/l3.png" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
    .ig{
        height:14em;
        width:14em;
        border-radius: 2em;
    }
    body{
        background-image: url("../../../imagenes/back3.jpg");

    }
    .l3{
        height: 10em;
        width: 10em;
    }
    h1{
        text-align: center;
    }
    </style>
{% endblock %}
{% block imgnav %}
<img src="../../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
{% endblock %}

{% block content %}
    <div class="container col-md-12">
        {% if result %}
            <div class="alert alert-success">Contraseña actualizada!</div>
        {% endif %}
        <form method="post">
            <section class="container">
                <h1>Mis Datos</h1>
            <div class="row col-md-12">
            <div class="col-md-6">
                <br>
            <input type="text" name="rut" placeholder="RUT" class="form-control" id="rut" disabled value="{{ docente.id }}">
                <br>
            <input type="text" name="nombre" placeholder="Nombre" class="form-control" id="nombre" disabled value="{{ docente.nombre }}">
                <br>
            <input type="text" name="email" placeholder="Email" class="form-control" id="email" disabled value="{{ docente.correo }}">
            <br>
            </div>
            <div class="col-md-6">
            <br>
            <input type="password" placeholder="Password Actual" name="password" class="form-control" id="password" required>
                <br>
            <input type="password" placeholder="Password Nueva" name="npassword" minlength="8" class="form-control" id="npassword" required>
                <br>
            <input type="password" placeholder="Confirme Password" name="cpassword" minlength="8" class="form-control" id="cpassword" required>
            </div>
            </div>
            
            
            <br>
            <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input class="btn btn-primary btn-block" type="submit" value="Guardar">
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            </section>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="../../../jss/jquery.js"></script>
{% endblock %}