{% extends "layout.twig" %}

{% block icon %}
        <link rel="icon" type="image/png" href="../../../imagenes/l3.png" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
    .ig{
        height:14em;
        width:14em;
        border-radius: 2em;
    }
    body{
        background-image: url("../../../imagenes/33.jpg");

    }
    .l3{
        height: 10em;
        width: 10em;
    }
    h1{
        text-align: center;
    }
    </style>
{% endblock %}
{% block imgnav %}
<img src="../../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
{% endblock %}

{% block content %}
    <div class="container col-md-12">
        {% if result %}
            <div class="alert alert-success">Contraseña actualizada!</div>
        {% endif %}
        <form method="post">
            <section class="container">
                <h1>Mis Datos</h1>
            <div class="row col-md-12">
            <div class="col-md-6">
            <label for="rut">RUT</label>
            <input type="text" name="rut" class="form-control" id="rut" disabled value="{{ docente.id }}">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre" disabled value="{{ docente.nombre }}">
            <label for="email">Correo</label>
            <input type="text" name="email" class="form-control" id="email" disabled value="{{ docente.correo }}">
            <br>
            <!--<img src="{{ docente.imagen }}" height="400" width="400" class="img-fluid ig" alt="Responsive image">-->
            </div>
            <div class="col-md-6">
            <label for="password">Password Actual</label>
            <input type="password" name="password" class="form-control" id="password" required>
            <label for="npassword">Password Nueva</label>
            <input type="password" name="npassword" minlength="8" class="form-control" id="npassword" required>
            <label for="cpassword">Confirme Password</label>
            <input type="password" name="cpassword" minlength="8" class="form-control" id="cpassword" required>
            </div>
            </div>
            
            
            <br>
            <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input class="btn btn-primary btn-block" type="submit" value="Guardar">
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            </section>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="../../../jss/jquery.js"></script>
{% endblock %}