{% extends "layout.twig" %}

{% block icon %}
        <link rel="icon" type="image/png" href="../../../imagenes/l3.png" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
        body{
            background-image: url("../../../imagenes/33.jpg");

        }
        .l3{
            height: 10em;
            width: 10em;
        }
        h1{
            text-align: center;
        }
    </style>
{% endblock %}

{% block imgnav %}
<img src="../../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
{% endblock %}
{% block content %}
    <div class="flex-center position-ref full-height">
        {% if result %}
            <div class="alert alert-success">Alumno Cargado!</div>
        {% endif %}
        <div class="container col-md-12 ">
            <form method="post">
                <section class="container">
                    <h1>Registro Alumnos</h1>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <label for="curso">Curso</label>
                            <select name="curso" id="curso" class="form-control" required>
                                <option value="">Seleccione un curso</option>
                                {% for curso in curso %}
                                    <option name="curso" id="{{ curso.id }}" value="{{ curso.id }}">{{ curso.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label for="run">RUN Alumno</label>
                            <input type="text" name="run" class="form-control" id="run" required>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" class="form-control" id="nombre" required>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <label for="">&nbsp;</label>
                            <input type="file" name="imagen" class="form-control-file" id="imagen" required >
                            <br>
                        </div>
                    </div>
                <div class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <br>
                        <button class="btn btn-primary btn-block" id="cargar">Cargar</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                </section>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../../../jss/jquery.js"></script>
{% endblock %}