<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block icon %}
        <link rel="icon" type="image/png" href="../../imagenes/l3.png" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap2.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Conciencia Fonologica</title>
    <script src="../../jss/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">

    <style rel="stylesheet">

        SECTION > DIV {
            float: left;
            padding: 0.3em;
            display: inline-block;
        }
        SECTION > DIV + DIV {
            width: 4em;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
        .ig{
            height:14em;
            width:14em;
            border-radius: 2em;
        }
        SECTION {
            padding: 0.3em;
            background-color: rgba(255,255,255,0.5);
            overflow: auto;
        }
        body{
            background-image: url("../../../imagenes/back3.jpg");

        }
        h1{
            text-align: center;
        }
        .container{
            margin-top: 1em;
            margin-left: 3em;
            border-radius: 3em;

        }
        a{
            margin:4em 5em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="container col-md-12 row">
            <form action="">
                <br>
                <section class="container">
                    <h1>Actividades</h1>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-12"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <a href="../../../juegos/CERDITO/c1/index.html" target="_blank" onclick="FullScreen(window.open( '../../../juegos/CERDITO/cerdito_parte1/index.html', this.target, 'fullscreen=yes, scrollbars=auto')); return false;">
                            <img src="../../../imagenes//cerdo.png" class="img-fluid ig" alt="Responsive image">
                        </a>
                        <br>
                        <label><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Juego Silabas</h3></label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <a href="../../../juegos/TIGRE/a1/index.html" target="_blank" onclick="FullScreen(window.open( '../../../juegos/TIGRE/a1/index.html', this.target, 'fullscreen=yes, scrollbars=auto')); return false;">
                            <img src="../../../imagenes//tigre.png" class="img-fluid ig" alt="Responsive image">
                        </a>

                        <br>
                        <label><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Juego Audios</h3></label>
                    </div>
                    <div class="col-md-2"></div>

                </section>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
