<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block icon %}
        <link rel="icon" type="image/png" href="../../imagenes/l3.png" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap2.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Conciencia Fonologica</title>
    <script src="../../jss/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">


    <style>
        nav div ul li a{
            color: #effff8;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0.5em 1.7em;
            padding: 0.3em;
        }
        nav{
            background-color: #FFC90E;
            border-radius: 0.5em;
        }
        nav div ul li div a{
            color: #385a8a;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 0.5em 1em;
            margin: 0.5em 0.1em;

        }
        html body nav {
            background-color: #088A4B;
            color:#000;
            text-align: right;
            margin: 0.5em;
        }
        img{
            height: 10em;
            width: 15em;

        }

    </style>
    <style rel="stylesheet">
        SECTION {
            padding: 0.3em;
            background-color: #f0f0f0;
            overflow: auto;
        }
        SECTION > DIV {
            float: left;
            padding: 0.3em;
            display: inline-block;
        }
        SECTION > DIV + DIV {
            width: 4em;
            text-align: center;
        }
        .ncolor{
            color:#000;
            text-decoration:none;
            padding:0.8em;
        }
        .ncolor:hover{
            color:#000;
            text-decoration:none;
        }
        .nav-link{
            color:#000;

        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
        .ig{
            height:14em;
            width:14em;
            border-radius: 2em;
        }
        body{
            background-image: url("../../../imagenes/33.jpg");

        }
        .l3{
            height: 10em;
            width: 10em;
        }
        h1{
            text-align: center;
        }
    </style>
    <style>
        .btn-success{
            border-radius: 5em;
            margin: 3em;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="flex-center position-ref full-height">
                <div class="container col-md-12 row">
                    <form action="">
                        <br>
                        <section class="container">
                            <h1>Actividades</h1>
                            <div class="col-md-12"></div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 1</label>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 2</label>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 3</label>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 4</label>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 5</label>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../imagenes/tr.jpg" class="img-fluid ig" alt="Responsive image">
                                <br>
                                <label>Actividad 6</label>
                            </div>
                            <!--<a href="{{ 'user/academico/lista' | url }}">Anterior</a>-->
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
