{% extends "layoutadm.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap2.css">
    <style>
        body{
            background-image: url("../../imagenes/backadm.jpg");

        }
        .l3{
            height: 10em;
            width: 10em;
        }
        h1,p{
            text-align: center;
        }
        .col-md-3{
            margin: 0.5em;
        }
    </style>
{% endblock %}

{% block imgnav %}
    <img src="../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
{% endblock %}

{% block content %}
    <div class="container col-md-12">
        <section class="container">
            <h1>Inicio</h1>
            <p>
                Bienvenido {{ adm.nombre }}
            </p>
            <div class="col-md-1"></div>
            <div class="col-md-3 row">
                <img src="../../imagenes/archivo.jpg" alt="">
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-outline-dark" href="#">manual #1</a>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-3 row">
                <img src="../../imagenes/archivo.jpg" alt="">
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-outline-dark" href="#">manual #2</a>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-3 row">
                <img src="../../imagenes/archivo.jpg" alt="">
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-outline-dark" href="#">manual #3</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </section>
    </div>
{% endblock %}