{% extends "layoutadm.twig" %}

{% block icon %}
    <link rel="icon" type="image/png" href="../../../imagenes/l3.png" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    <style>
        body{
            background-image: url("../../../imagenes/back4.jpg");

        }
        .l3{
            height: 10em;
            width: 10em;
        }
        h1,h2{
            text-align: center;
        }
    </style>
{% endblock %}

{% block imgnav %}
    <img src="../../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
{% endblock %}
{% block content %}
    <div class="flex-center position-ref full-height">
        {% if result %}
            <div class="alert alert-success">Curso Cargado!</div>
        {% endif %}
        <div class="container col-md-12">
            <form method="post">
                <section class="container">
                    <h2>Ingrese Curso</h2>
                    <div class="row col-md-12">

                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" id="nombre" required>
                            <br>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <br>
                            <button class="btn btn-primary btn-block" id="cargar">Cargar</button>
                            <br>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </section>
            </form>
            <br>
            <form action="{{ 'admin/admin/eliminar' | url }}" method="post">
                <section class="container">
                    <div class="row col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <table class="table table-striped">
                                <br>
                                <h2>Cursos Registrados</h2>
                                <br>
                                <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Curso</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for curso in curso %}
                                    <tr>
                                        <th scope="row">{{ curso.id }}</th>
                                        <th>{{ curso.nombre }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4"></div>

                    </div>
                </section>
            </form>
            <br>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../../../jss/jquery.js"></script>
{% endblock %}