<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="../imagenes/l3.png" />
	<title>Conciencia Fonologica</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/open?id=13W-aBf0daiYsY58mbO01b3ieVJGx1iyw">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<style>
		/* Make the image fully responsive */
		.carousel-inner img {
			width: 80em;
			height: 23em;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../css/estilosweb.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<style>
	body{
		background-image: url("../imagenes/back2.jpg");
	}
	.col{
		background-color:#088A4B;
		border-radius:3em;
		height:3em;}
	 b>a{
		color:#fff;
	}
	b>a:Hover{
		color:#ffff00;
	}
	footer{
		background-color:#385a8a;
		border-radius:3em 0em;
	}
	.imb{
		border-radius:1em;
	}
	.color2{
		background-color: #CECEF6;
	}
	.color1{
			background-color: #0B614B;
		}
		.g{
			margin: 1em;
			height: 3em;
			width: 3em;
		}
	
	</style>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container col">
		  <div class="navbar-header lf">
			  <img class="img-fluid img-responsive g" src="../imagenes/l3.png" alt="">
			<b><a class="navbar-brand" href="{{ 'auth/login' | url }}">Login</a></b>
		  </div>
		</div>
	</nav>
	<div class="container">
		<div id="demo" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>

			<!-- The slideshow -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../imagenes/l2.png" class="img-fluid" alt="Responsive image" width="1100" height="500">
				</div>
				<div class="carousel-item">
					<img src="../imagenes/dinosaurio.png" class="img-fluid" alt="Responsive image" width="1100" height="500">
				</div>
				<div class="carousel-item">
					<img src="../imagenes/chancho.png" class="img-fluid" alt="Responsive image" width="1100" height="500">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
		<br>
</div>
</header>
<div class="container">
	<section class="main row imb">
		<article class="col-xs-12 col-sm-12 col-md-12">

			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="#seccion1" class="btn btn-success" aria-controls="seccion1" data-toggle="tab" role="tab">Quienes Somos</a></li>
						<li role="presentation"><a href="#seccion2" class="btn btn-warning" aria-controls="seccion2" data-toggle="tab" role="tab">El Porque de esta plataforma</a></li>
						<li role="presentation"><a href="#seccion3" class="btn btn-dark" aria-controls="seccion3" data-toggle="tab" role="tab">Acerca de las Actividades</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="seccion1">
						<h3>Quienes Somos</h3>
						<p>Somos estudiantes de ingeniería (E) en computación e informática del instituto profesional
							Virginio Gómez el cual realizo esta página web educacional con el fin de ayudar con el
							desarrollo del lenguaje en los niños de pre-básica.<br>
						</p>
					</div>

					<div role="tabpanel" class="tab-pane" id="seccion2">
						<h3>El Porque de esta plataforma </h3>
						<p>Conciencia fonológica es un sitio web para profesores y sus alumnos, con actividades lúdicas
							que ayudaran a los niños a comprender el lenguaje y facilitara su comprensión lectora en un futuro.<br>
						</p>
					</div>

					<div role="tabpanel" class="tab-pane" id="seccion3">
						<h3>Acerca de las Actividades</h3>
						<p>Las actividades que se encuentra en esta página web se concentran en la identificación
							de las silabas y reconocimiento de un objeto al ser mencionado<br>
						</p>
					</div>
				</div>

			</div>
		</article>
	</section>
	<div class="row">
		<div class="color1 col-xs-12 col-sm-6 col-md-4 imb">
			<h3>Información</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
		</div>
		<div class="color2 col-xs-12 col-sm-6 col-md-4 imb">
			<h3>Información</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
			</p>
		</div>
		<div class="color1 col-xs-12 col-sm-6 col-md-4 imb">
			<h3>Información</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
		</div>
	</div>
</div>
<footer>
	<div class="container footer">
		<h3>Redes Sociales</h3>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>

