<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../imagenes/l3.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conciencia Fonologica</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap2.css">
    <script src="../../jss/jquery.js"></script>
    <style>
        body{
            background-image: url("../../imagenes/backlog.jpg");
        }
        nav div ul li a {
            color: #effff8;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0.5em 1.7em;
            padding: 0.3em;
        }
        
        nav {
            background-color: #3b3e44;
            border-radius: 0.5em;
        }
        
        nav div ul li div a {
            color: #385a8a;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 0.5em 1em;
            margin: 0.5em 0.1em;
        }
        
        html body nav {
            background-color: #088A4B;
            text-align: right;
            margin: 0.5em;
        }
        
        img {
            height: 10em;
            width: 15em;
        }
        
        h2 {
            text-align: center;
        }
        .home{
            height:2em;
            width:2em;
        }
        .rig{
            float:right;
        }
        .l3{
            height: 10em;
            width: 10em;
        }
        button{
            position: relative;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <img src="../../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse rig row" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
        </form>
        <div class="col-md-12 row">
            <div class="col-md-6">&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-6">
                <a class="btn btn-success" href="{{ 'index' | url }}"><img class="home rig" src="../../imagenes/home.png"> </a>
            </div>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Ingresar</h2>
                <form method="post">
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" name="correo" id="correo">
                    </div>
                    <div class="form-group">
                        <input type="Password" class="form-control" placeholder="Password" name="password" id="inputPassword">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>

</html>